{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12 bio">
    <img class="bio img-fluid float-xs-left mr-3 rounded" src="/static/Files/paul.jpg" title="A photo of Paul Riker sitting next to a statue and laughing as if in conversation.">
    <p><span class="font-weight-bold">Paul Riker</span> is a writer from Ann Arbor, Michigan. His work has been featured in or is forthcoming in <em>The Pinch</em>, <em>Booth</em>, <em>Salt Hill</em>, <em>CutBank</em>, the <em>Nashville Review</em>, <em>SmokeLong Quarterly</em>, <em>Pithead Chapel</em>, and elsewhere.</p>
    <p>He is the winner of <em>The Pinch</em> Literary Award in Fiction, the <em>SmokeLong Quarterly</em> Comedy Prize, and the National Society of Arts and Letters' Holl Merit and Jones Merit Award &mdash; its top prize in literature for the state of Indiana. He was also a finalist for the <em>Iowa Review</em> Award in Fiction and <em>Pithead Chapel</em>'s Larry Brown Short Story Award.</p>
    <p>In addition, he is the recipient of multiple Purdue Literary Awards, including the Booth Tarkington Fiction Award for a Short Story by a Graduate Student, the CLA Dean's Award for Best Graduate Entry, and the Budd and Betty Knoll Award for Best of Contest.</p>
    <p>Paul received his Master of Fine Arts in Creative Writing from Purdue University. He lives in Asheville, North Carolina, and is currently at work on a novel.</p>
    </div>
  </div>
  </div>
{% endblock %}